# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

docker/cpp/testcases
docker/cpp/code.cpp

# Data and temp directories
testcases/
temp/
test.go
temp.go